name: your-workflow-name
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: iterative/setup-cml@v1
      - name: Train model
        run: |
          pip install -r requirements.txt
          python model.py > metrics.txt   # Save output to a file

      - name: Create CML report
        run: |
          echo "## Model Training Report" >> report.md
          echo "### Metrics" >> report.md
          cat metrics.txt >> report.md
          cml comment create report.md