name: your-workflow-name
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: iterative/setup-cml@v1

      - name: Train model
        run: |
          pip install -r requirements.txt
          python model.py